@use "../custom.scss";

.carouselCard {
  height: 350px;
  margin: 0.5em !important;
  padding: 0em !important;
  border: 0px !important;
}
.carouselCard img {
  width: 200px;
  height: 300px;
}

.carouselCard .card-body .card-title {
  color: black;
  height: 80px;
  overflow: scroll;
  margin: 0em;
  padding: 0em;
}
